{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pianos</title>
        <link href="{% static 'pianos/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="navbar">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'add_piano' %}">Add piano</a>
        </div>
        <div id="body-block">
            <h1 id="layout-title">Section2 Django Demo App</h1>
            {% block body %}
            {% endblock %}
        </div> 
    </body>
</html>